<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Subscriptions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card mr-5">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Your subscriptions</h3>
				</div>
                {% for s in subscriptions %}
                <div class="d-flex justify-content-left">
                    <h3>{{ s.blog.user }}</h3>
                </div>
                <div class="d-flex justify-content-left">
                    <h5>{{ s.blog.subscribers }} subscribers {{ s.blog.subscribed }} subscribed</h5>
                </div>
                <div class="d-flex justify-content-left">
                    <a class="btn text-white btn-primary btn-lg mr-2"  role="button" onClick="document.getElementById('unsubscribe_button').submit()">Unsubscribe</a>
                    <form  id="unsubscribe_button" method="GET" action="unsubscribe/{{s.blog.pk}}/{{s.pk}}">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </div>
                {% endfor %}<br>
			</div>
            <div class="user_card">
				<div class="d-flex justify-content-center">
					<h3>Recommendations</h3>
				</div>
                {% for r in recommendations %}
                <div class="d-flex justify-content-left">
                    <h3>{{ r.user }}</h3>
                </div>
                <div class="d-flex justify-content-left">
                    <a class="btn text-white btn-primary btn-lg mr-2"  role="button" onClick="document.getElementById('subscribe_button').submit()">Subscribe</a>
                    <form  id="subscribe_button" method="POST" action="subscribe/{{r.pk}}">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </div>
                {% endfor %}<br>
			</div>
		</div>
	</div>
    <div class="container w-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card mr-5">
                <div class="d-flex justify-content-center">
					<h3>Your newsfeed</h3>
				</div>
                {% for p in posts %}
                <div class="d-flex justify-content-left">
                    <h3>{{ p.title }}</h3>
                </div>
                <div class="d-flex justify-content-left">
                    <h5>{{ p.content }}</h5>
                </div>
                <div class="d-flex justify-content-left">
                    <h6>Created at {{ p.published|date:"M d, Y" }}</h6>
                </div>
                <div class="d-flex justify-content-left">
                    <a href="read-post/" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Read this post</a>
                </div>
                {% endfor %}<br>
            </div>
        </div>
    </div>
</body>
</html>